<?xml version="1.0"?>
<config>
  <modules>
    <GOLDENSCENT_Splitorder>
      <version>0.1.0</version>
    </GOLDENSCENT_Splitorder>
  </modules>
  <global>
    <helpers>
      <splitorder>
        <class>GOLDENSCENT_Splitorder_Helper</class>
      </splitorder>
    </helpers>
	<models>
	  <splitorder>
		<class>GOLDENSCENT_Splitorder_Model</class>
		<resourceModel>splitorder_mysql4</resourceModel>
	  </splitorder>
	       <splitorder_mysql4>
               <class>GOLDENSCENT_Splitorder_Model_Mysql4</class>
               <entities>
                   <order><table>sales_order</table></order>
               </entities>
           </splitorder_mysql4>
			<checkout>
				<rewrite>
					<type_onepage>GOLDENSCENT_Splitorder_Model_Checkout_Type_Onepage</type_onepage>
				</rewrite>
			</checkout>
	</models>
	  <resources>
            <splitorder_setup>
                <setup>
                    <module>GOLDENSCENT_Splitorder</module>
                    <class>GOLDENSCENT_Splitorder_Model_Mysql4_Setup</class>
                </setup>
            </splitorder_setup>
        </resources>
  </global>
</config> 